streamlit==1.38
langchain==0.2.16
langchain-openai==0.1.23
langchain-community==0.2.16
langchain-core==0.2.39
langchain-text-splitters==0.2.4
pypdf
docx2txt
wikipedia
pinecone
pycryptodome
pysen[lint]
python-dotenv